extends admin-layout

block admin-content
  script(src='/js/admin/home.js')
  
  h3= "Week commencing " + formattedWeekStart
  br
  br
  
  table.table
    thead
      tr
        th Day
        th Allocated Spaces
        th Workers Booked
    tbody
      each val, index in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        tr
          - var allocation = week.allocations[index]
          td= val
          td
            - var spaces = allocation.allocated_spaces
            - var iid = "s" + index
            input(type="text" value=spaces id=iid)
          td
            each val, index in allocation.bookings
              span= "[" + val._user.first_name + " " + val._user.last_name + "] "
              
  button(type="button" style="margin:0 auto")#save-button.btn.btn-primary Save
  span(style="display:none")#week-start-epoch= weekStart
